:root {
  --row-height: 240px;
  --metric-height: 140px;

  --row-height-arrow: 60px;
  --column-width-arrow: 40px;

  --green100: #b6eddf;
  --green200: #7cd7be;
  --green300: #33bf9d;
  --green-font: #196351;

  --yellow100: #fee8b4;
  --yellow200: #ffd576;
  --yellow300: #ffc326;
  --yellow-font: rgb(133, 108, 0);

  --red100: #fbc6c8;
  --red200: #fe918e;
  --red300: #f4535a;
}
* {
  font-family: Rubik, Avenir Next, Helvetica Neue, sans-serif;
}
html {
  /*
    Background image by Sarah Dorweiler
    https://unsplash.com/photos/green-leafed-plant-on-clear-glass-vase-filled-with-water-x2Tmfd1-SgA
    */
  background: url(/assets/img/bg-sarah-dorweiler-unsplah.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  color: var(--green-font);
  text-decoration: none;
}

h1 {
  color: rgb(43, 34, 51);
  font-family: Rubik, Avenir Next, Helvetica Neue, sans-serif;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.26px;
  line-height: 40px;
  margin: 1em 0;
  overflow-x: hidden;
  overflow-y: hidden;
  column-gap: 8px;
  row-gap: 8px;
  text-overflow: ellipsis;
  text-wrap-mode: nowrap;
  white-space-collapse: collapse;
  -moz-osx-font-smoothing: grayscale;
}

.tagline {
  margin-top: -1em;
  margin-bottom: 2.5em;
}

/* GRID */
.wrapper {
  max-width: 1400px;
  margin: auto;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 10fr 20fr;
  grid-template-rows: var(--row-height) 20px 100;
  grid-column-gap: 5px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 20px;
}
.grid-left {
  display: grid;
  grid-template-columns: 1fr var(--column-width-arrow);
  grid-template-rows: var(--row-height) var(--row-height-arrow) var(
      --row-height
    );
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 20px;
}
.grid-right-single {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--row-height) var(--row-height-arrow) var(
      --row-height
    );
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 5px;
}
.grid-right-double {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--row-height-arrow) var(--row-height) var(
      --row-height-arrow
    );
  grid-column-gap: 15px;
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: stretch;
  margin-bottom: 5px;
}
.grid-cell-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
}
.grid-card-list {
  display: grid;
  grid-template-columns: 1fr 100px 100px;
  grid-template-rows: 40px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: stretch;
  margin: 1.2em;
}

/* CARD */
.card {
  width: 100%;
  height: 100%;
  color: rgb(62, 52, 70);
  background-color: rgb(255, 255, 255);
  -moz-osx-font-smoothing: grayscale;
  border-color: rgb(224, 220, 229);
  border-radius: 6px;
  border-style: solid;
  border-width: 0.833333px;
  overflow: hidden;
}
.card h2 {
  margin: 0;
  padding: 0.8em 1em 0.8em 1em;
  color: rgb(128, 112, 143);
  background-color: rgb(250, 249, 251);
  font-size: 1.2em;
  font-weight: 600;
  border-bottom-color: rgb(224, 220, 229);
  border-bottom-style: solid;
  border-bottom-width: 0.833333px;
}
.card h2 a {
  float: right; 
  margin-top: -0.15em;
}

.card .body {
  display: flex;
  justify-content: space-evenly;
}

.card .body .no-data-msg, 
.card .body .loading-msg {
  margin-top: 4em;
}

/* This is for the nice rendering of SQL queries. */
.marked p {
  margin: 0;
}

/* METRIC */
.metric {
  color: rgb(62, 52, 70);
  background-color: rgb(255, 255, 255);
  -moz-osx-font-smoothing: grayscale;
  text-align: center;

  border-color: rgb(224, 220, 229);
  border-radius: 6px;
  border-style: solid;
  border-width: 0.833333px;

  overflow: hidden;

  min-width: 30%;
  height: var(--metric-height);
  margin: 15px;
}
.metric .header {
  font-size: 1em;
  font-weight: 500;
  margin: 10px;
}
.metric .value {
  font-size: 1.6em;
  font-weight: 600;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.metric .change {
  margin-bottom: 0.5em;
  font-size: 0.9em;
  font-weight: 600;
}
.metric .change.up::after {
  content: "⇧";
}
.metric .change.down::after {
  content: "⇩";
}
.metric .score {
  margin: 0;
  padding: 0;
  height: 2em;
  font-weight: 600;
  border-top-color: rgb(224, 220, 229);
  border-top-style: solid;
  border-top-width: 0.833333px;
}
.metric .score.good {
  color: var(--green300);
  background-color: var(--green100);
}
.metric .score.meh {
  color: var(--yellow-font);
  background-color: var(--yellow100);
}
.metric .score.poor {
  color: var(--red300);
  background-color: var(--red100);
}

/* TABLE */
.row-header {
  font-weight: 600;
  border-bottom-color: rgb(224, 220, 229);
  border-bottom-style: solid;
  border-bottom-width: 0.833333px;
}

.row-header.right {
  text-align: right;
}
.row {
  padding: 0.5em 0;
  border-bottom-color: rgb(224, 220, 229);
  border-bottom-style: solid;
  border-bottom-width: 0.833333px;
}
.row.right {
  text-align: right;
  font-weight: 600;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8em 0 2em 0;
}

.footer .sentry-logo {
  width: 40px;
}